<h1>Dictionary</h1>
<br>
<ul>
  <% if @words != nil %>
    <% @words.each() do |word| %>
      <li><a id="word<%=word.id() %>" href="/word/<%= word.id() %>"><%= word.word() %></a></li>
    <% end %>
  <% end %>
</ul>
<br>
<form action="/add_new_word" method="get">
    <button type="submit" id="add_word" class="btn btn-primary">Add a New Word</button>
</form>
