<h2><%= @word.word() %></h2>
<ol>
  <% @word.definitions().each() do |definition| %>
  <li><%= definition.definition() %>
  <% end %>
</ol>
<br>
<div class="form-group">
  <form action="/word/definitions/<%= @word.id() %>" method="get">
      <button type="submit" id="add_definition" class="btn btn-primary">Add a Definition</button>
  </form>
</div>
