<h1>Add a New Word</h1>
<br>
<div class="form-group">
  <form action="/index" method="post">
    <label for="word">Enter a Word</label>
    <input id="word" type="text" name="word" class="form-control">
    <label for="definition">Enter a Definition</label>
    <input id="definition" type="text" name="definition" class="form-control">
    <br>
    <button type="submit" id="submit_forms" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <form action="/index" method="get">
      <button type="submit" id="index" class="btn btn-primary">Return to Dictionary</button>
  </form>
</div>
